<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde voluptate accusantium fuga dolor maiores sint aut amet. Architecto corporis rerum, tempore expedita beatae enim, nobis necessitatibus iusto quibusdam distinctio optio!</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde voluptate accusantium fuga dolor maiores sint aut amet. Architecto corporis rerum, tempore expedita beatae enim, nobis necessitatibus iusto quibusdam distinctio optio!</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde voluptate accusantium fuga dolor maiores sint aut amet. Architecto corporis rerum, tempore expedita beatae enim, nobis necessitatibus iusto quibusdam distinctio optio!</p>

    </div>

    <%- include('./partials/footer.ejs') %>

</body>
</html>